/* ============================
   LIQUID GLASS BACKGROUND (WORKING)
============================ */

.liquid-bg {
  z-index: -1;

  background: rgba(255, 255, 255, 0.08);
  /* Transparent layer */
  backdrop-filter: blur(40px) saturate(200%);
  -webkit-backdrop-filter: blur(40px) saturate(200%);

  overflow: hidden;
}

.liquid-bg::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;

  background: radial-gradient(circle at 20% 30%, rgba(0, 255, 200, 0.3), transparent 60%),
    radial-gradient(circle at 80% 70%, rgba(0, 200, 255, 0.25), transparent 60%),
    linear-gradient(120deg, #0f2027, #203a43, #2c5364);


  filter: blur(25px);
  animation: liquidMove 20s infinite alternate ease-in-out;
}

@keyframes liquidMove {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.15) translate(-20px, 15px);
  }

  100% {
    transform: scale(1) translate(20px, -15px);
  }
}

.glass-header {
  /* TRANSPARENCY */
  background: rgba(255, 255, 255, 0.1); 
   /* MAIN GLASS EFFECT */
  backdrop-filter: blur(10px) saturate(180%); 
  -webkit-backdrop-filter: blur(20px) saturate(180%);

  border: 1px solid rgba(34, 211, 122, 0.3);
  border-bottom: 1px solid rgba(10, 109, 79, 0.4);
  box-shadow: 0 0 5px 10px rgba(96, 222, 188, 0.095);

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.glass-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      120deg,
      rgba(10, 152, 159, 0.796),
      rgba(208, 142, 9, 0.796),
      rgba(9, 153, 163, 0.758),
      rgba(211, 7, 163, 0.707)
  );
  opacity: 0.4;
  animation: slide 6s infinite linear;
}