@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Code+Latin:wght@100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&disba=swap');


:root {
  --a: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Code Latin", monospace;
}

.body {
  background-color: black;
  color: white;
}

.left {
  width: 27vw;
  padding: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close {
  display: none;
}

.right {
  width: 75vw;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 20px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.size {
  width: 212px;
  height: 35px;
  margin-left: -99px;
}

.heading {
  display: flex;
  gap: 15px;
  width: auto;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
}

.library {
  min-height: 75vh;
  position: relative;
}

.heading img {
  width: 30px;
}

.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  border-radius: 0 0 20px 20px;
  /* optional curve bottom */
}

.header>* {
  padding: 20px;
}

.SpotifyPlaylists {
  padding: 6px;
}

.cardContainer {
  display: flex;
  margin: 30px;
  gap: 10px;
  padding-bottom: 23px;
  flex-wrap: wrap;
  max-height: 68vh;
  overflow-y: auto;
}

.card {
  position: relative;
  padding: 10px;
  background-color: #252525;
  width: 200px;
  transition: all .8s;
  border-radius: 6px;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.card>* {
  padding-top: 6px;
}

.card:hover {
  background-color: rgba(104, 104, 104, 0.382);
  border: 1px solid transparent;
  border-image: linear-gradient(60deg, rgba(10, 152, 159, 0.796),
      rgba(208, 142, 9, 0.796),
      rgba(9, 153, 163, 0.758),
      rgba(211, 7, 163, 0.707)) 3;
  cursor: pointer;
  --a: 1;
}

.right {
  margin: 10px 0;
}


.footer {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 14px;
  position: absolute;
  bottom: 0;
  /* padding: 15px 10px; */


}

.footer div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer a {
  color: #aeb39e;
  text-decoration: none;
}

.play {
  /*play button*/
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #35ce6b;
  border-radius: 50%;
  /* border: 1px solid #1a1818; */
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 170px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-in-out;
}

/* .play:hovaa{
  opacity: 1;
  top: 170px;
} */
.buttons>* {
  margin: 0 12px;
}

.signinbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(134, 134, 134);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signinbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  color: black;
  border-radius: 22px;
  font-size: 16px;
  padding: 6px;
  width: 72px;
  cursor: pointer;
}

.loginbtn:hover {
  font-size: 17px;
  background-color: rgb(34, 34, 34);
  color: white;
  font-weight: bold;
  padding: 6px 8px;
  width: 77px;
}

.playbar {
  position: absolute;
  bottom: 20px;
  min-height: 25px;
  /* filter: invert(1); */
  background: #044739b3;
  width: 90%;
  padding: 15px;
  border-radius: 7px;
}

.songbuttons {
  display: flex;
  gap: 18px;
  filter: invert(1);
  justify-content: center;

}

.songList {
  border: 2px solid transparent;
  border-image: linear-gradient(60deg, rgba(10, 152, 159, 0.796),
      rgba(208, 142, 9, 0.796),
      rgba(9, 153, 163, 0.758),
      rgba(211, 7, 163, 0.707)) 3;
  border-radius: 25px;
  height: 450px;
  overflow: auto;
}


.songList ol {
  font-size: 13px;
  padding: 0 10px;
  /* color: rgba(184, 11, 11, 0.637); */
}

.songList h3{
  font-size: 28px;
  align-items: center;
  align-self: center;
  align-content: center;
  color: red;
  
}
.songList ol li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  gap: 10px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
}

.songList .info {
  font-size: 12px;
  width: 250px;
}

.info div {
  word-break: break-all;
}

.playNow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playNow span {
  font-size: 10px;
  width: 64px;
  padding: 12px;
}

.functionality {
  position: inherit;
  display: flex;
  top: 40px;
  width: 25px;
  right: 500px;
}


.seekbar {
  height: 2px;
  width: 58%;
  border-radius: 8px;
  align-self: center;
  border: 2px solid rgb(0, 255, 255);
  ;
  /* position: absolute; */
  bottom: 5px;
  cursor: pointer;
  /* margin: 3px; */

}

.circle {
  bottom: 4px;
  position: relative;
  width: 10px;
  height: 10px;
  /* left: -0.3%; */
  left: 0%;
  background-color: rgba(7, 159, 124, 0.785);
  border-radius: 8px;
  transition: left 0.6s;
  /* border: 2px solid rgba(6, 155, 132, 0.785); */
}

.songbuttons {
  cursor: pointer;
}

.songInfo,
.songTime {
  color: rgb(0, 255, 255);
  padding: 0 12px;
  align-self: center;
  /* width: 250px; */
}

.aboveBar {
  display: flex;
  justify-content: space-between;
}

.volume img {
  color: rgb(0, 255, 255);

}


.volDur {
  display: flex;

}

.volume {
  display: flex;
  /* flex-direction: column; */
  cursor: pointer;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.range input {
  cursor: pointer;
}

input[type="range"]:hover {
  cursor: pointer;
}

/* changing vloume range colors */